body{
    font-family: "Afacad Flux";
}
#sidebar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
    box-sizing: border-box;
    padding-top: 40px;
}

.btn-expand {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 100px;               
    height: 50px;
    background: #ffffff;          
    color: #000000;
    text-decoration: none;
    margin-bottom: 16px;
    overflow: hidden;
    transition: width 0.3s ease, border-radius 0.3s ease, justify-content 0.3s ease;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    flex-shrink: 0;
    width: 50px;     
    height: 50px;
    transition: all 0.3s ease;
}

.btn-text {
    opacity: 0;
    margin-left: 0;
    white-space: nowrap;
    max-width: 0;
    overflow: hidden;
    transition: 
    opacity 0.3s ease,
    max-width 0.3s ease,
    margin-left 0.3s ease;
    font-weight: 500;
}

.btn-expand:hover {
    width: 200px;              
    border-radius: 25px;
    justify-content: flex-start;
    padding-left: 10px;        
    background: #000000;
    justify-content: center;
}

.btn-expand:hover .btn-icon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    color: #ffffff;
}

.btn-expand:hover .btn-text {
    opacity: 1;
    margin-left: 8px;
    max-width: 140px; 
    color: #ffffff;
}
.btn-expand-home{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 50px;               
    height: 50px;
    border-radius: 50%;
    background: #000000;          
    color: #ffffff;
}
.a-techskills {
  transition: transform 0.3s ease; 
}

.a-techskills:hover {
  transform: scale(0.5); /* 50% */
}

.projects-img {
  transition: transform 0.3s ease; 
}

.projects-img:hover {
  transform: scale(0.9);
}